/*----------------------------------------------------------
    File Name  : _navbar.scss
    Desc       : File ini merupakan styling untuk 
                 Component Button yang akan dipakai berulang

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Buttons Landing Page
 *
 */

 @use '../abstracts/variables' as var;
 @use '../abstracts/mixins' as mix;


 /*----------------------------------------------------------
1. Buttons Landing page Start 
------------------------------------------------------------*/ 
.btn-banner-start {
    width: 242px;
    height: 66px;
    display: block;
    background-color: var.$bg-primary-satoshi;
    color: white;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    font-weight: bold;
    @include mix.flex-tengah-vertical;
    
    &:hover {
        background-color: white;
        color: var.$text-primary-satoshi;
        box-shadow: 0px 0px 10px 10px var.$bg-primary-satoshi;
        font-weight: 700;
    }
}

.btn-banner-unlock {
    outline: 2px solid #C5A571;
    background-color: white;
    color: var.$text-primary-satoshi;
    &:hover {
        background-color: var.$bg-primary-satoshi;
        color: white;
        box-shadow: 0px 0px 10px 10px white;
        font-weight: 700;
    }
}

.btn-navbar-contactform {
    height: 40px;
    width: 160px;
    display: block;
    background-color: var.$bg-primary-satoshi;
    color: white;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
    outline: 2px solid white;
    font-weight: 700;
    @include mix.flex-tengah-vertical;
    
    &:hover {
        background-color: white;
        color: var.$text-primary-satoshi;
        box-shadow: 0px 8px 8px 0px var.$text-primary-satoshi;
    }
}

.btn-navbar-referral {
    height: 40px;
    width: 160px;
    display: block;
    background-color: var.$bg-white-satoshi;
    color: var.$text-primary-satoshi;
    font-size: 15px;
    font-weight: 500;
    outline: 2px solid #C5A571;
    font-weight: 700;
    @include mix.flex-tengah-vertical;
    
    &:hover {
        background-color: var.$bg-primary-satoshi;
        color: white;
        box-shadow: 0px 8px 8px 0px var.$text-primary-satoshi;
    }
}

.btn-flip {
    background-color: var.$bg-primary-satoshi;
    padding: 1rem 1.5rem;
    border-radius: 999999px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
}

.btn-zoom {
    width: 100%;
    background-color: var.$bg-primary-satoshi;
    padding: 1.0rem 0.5rem;
    border-radius: 999999px;
    text-transform: uppercase;
    color: var.$text-white-satoshi;
    font-weight: 400;
    text-align: center;
}


.btn-take-action {
    display: block;
    background-color: var.$bg-primary-satoshi;
    color: white;
    padding: 1rem 1rem !important;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 500;
    font-weight: bold;
    
    &:hover {
        background-color: white;
        color: var.$text-primary-satoshi;
        box-shadow: 0px 0px 10px 10px var.$bg-primary-satoshi;
        font-weight: 700;
    }
}

.btn-revolution {
    display: inline-block;
    background-color: var.$bg-primary-satoshi;
    color: white;
    padding: 0.5rem 2rem !important;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    font-weight: bold;
    
    &:hover {
        background-color: var.$bg-primary-satoshi;
        color: var.$text-black-satoshi;
        box-shadow: 0px 4px 4px 0px #E8D9BD;
        font-weight: 700;
    }
}

.btn-subscribe {
    background-color: var.$bg-primary-satoshi;
    box-shadow: 0px 0px 20px 10px white;
    color: white;
    width: 220px;
    padding: 1rem 2rem !important;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    font-weight: bold;
    margin-top: 3rem;
    text-transform: uppercase;
    
    &:hover {
        background-color: white;
        color: var.$text-primary-satoshi;
        box-shadow: 0px 0px 20px 10px var.$bg-primary-satoshi;
        font-weight: 700;
    }
}

 /*----------------------------------------------------------
1. Buttons Landing page End 
------------------------------------------------------------*/ 


.btn-refferal {
    background: linear-gradient(
        to right, /* Arah gradasi dari kiri ke kanan */
        rgba(189, 160, 105, 1), /* Warna coklat muda di kiri */
        rgba(255, 255, 255, 1) /* Warna putih di kanan */
    );
    color: var.$text-black-satoshi;
    padding: 1rem 2rem !important;
    font-weight: 500;
    font-weight: bold;
    margin-top: 1.5rem;
    border-radius: 5px;

    @include mix.sm {
        font-size: 15px;
        line-height: 25px;
    }

    @include mix.lg {
        font-size: 25px;
        line-height: 35px;
    }
}

.btn-exclusive {
    display: block;
    width: 370px;
    background-color: black;
    color: yellow;
    padding: 0.5rem 0;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 20px 14px rgba(255, 255, 255, 0.5); /* blur putih */
    line-height: 25px;

    &:hover {
        color: white;
        box-shadow: 0px 0px 20px 20px yellow;
    }
      
}

.btn-activate {
    width: 357px;
}


.btn-activate-hotdeals{
    width: auto;
    padding: 0 2rem;
    margin-top: 2rem;
}

.btn-promo {
    font-weight: bold;
    display: inline-block;
    color: white;
    background-color: var.$bg-primary-satoshi;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    box-shadow: 0px 8px 8px 0px white;
    margin: 2rem;

    &:hover {
        background-color: white;
        color: var.$text-primary-satoshi;
        box-shadow: 0px 0px 20px 10px var.$bg-primary-satoshi;
        font-weight: 700;
    }
}

.btn-pricelist-white {
    display: inline-block;
    text-align: center;
    line-height: 34px;
    width: 175px;
    height: 34px;
    background-color: rgba(255, 255, 255);
    margin-top:8px;
    border-radius: 5px;
    color: rgba(189, 160, 105, 1);
    font-weight: bold;
}

.btn-pricelist-white-lg {
    height: 60px;
    width: 175px;
    font-size: 25px;
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: normal;
    span {
        font-size: 13px;
    }
}

.btn-pricelist-black {
    width: 175px;
    line-height: 34px;
    height: 34px;
    background-image: url('../../img/btn-pricelist-black.png');
    background-size: cover;
    margin-top:8px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.btn-pricelist-black-lg {
    height: 60px;
    width: 175px;
    margin-bottom: 1.5rem;
}

.btn-buy-exclusive {
    background: black;
    display: block;
    color: var.$text-primary-satoshi;
    font-size: 20px;
    text-transform: uppercase;
    width: 287px;
    border-radius: 40px;
    box-shadow: 0px 8px 8px 0px white;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
    &:hover {
        color: white;
        box-shadow: 0px 0px 20px 10px white;
        font-weight: 700;
    }
}

.btn-start-formula {
    background-color: rgba(189, 160, 105, 1);
    width: 413px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    padding: 5px;
    box-shadow: 0px 4px 4px 0px white;
    line-height: 25px;
    margin-bottom: 2rem;
    &:hover {
        background-color: white;
        box-shadow: 0px 0px 10px 10px var.$bg-primary-satoshi;
        font-weight: 700;
    }
}

.btn-pricelist-web {
    background-image: url('../../img/btn-website.png');
    background-size: contain;
}

.btn-pricelist-reff {
    background-image: url('../../img/btn-refferal.png');
    background-size: cover;
}

.btn-pricelist-ios {
    background-image: url('../../img/btn-ios.png');
    background-size: cover;
}

.btn-pricelist-android {
    background-image: url('../../img/btn-android.png');
    background-size: cover;
}

.btn-satoshi-price-register {
    background-color: #C5A571;
    color: #000000;
    font-weight: 900;
    -webkit-text-stroke: 0.3px #ECCF98;
    font-weight: 800;
    font-size: 22px;
}



