/*----------------------------------------------------------
    File Name  : _giveaway.scss
    Desc       : File ini merupakan styling untuk Giveaway Page

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * //semua//
 *
 */

 
 @use '../abstracts/variables' as var;
 @use '../abstracts/mixins' as mix;
 /*----------------------------------------------------------
 1. Banner Giveaway Start
 ------------------------------------------------------------*/ 

.banner-giveaway {
    margin-top: 60px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3rem 0;
    .banner-giveaway-title {
        color: var.$text-primary-satoshi;
        font-weight: bold;
        font-size: 45px;
        text-transform: uppercase;
        margin-bottom: 2rem;
        line-height: 1;
        span {
            font-size: 45px;
        }
    }

    span {
        font-size: 25px;
        font-weight: bold;
    }
}

 /*----------------------------------------------------------
    Banner Giveaway End
------------------------------------------------------------*/ 


 /*----------------------------------------------------------
 2. Giveaway Start
 ------------------------------------------------------------*/ 

.giveaway {
    @include mix.flex-tengah;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;

    @include mix.xs {
        padding-top: 3rem;
    }
    @include mix.lg {
        padding-top: 0;
    }

    .row {
        width: 100%;
        .col-lg-6 {
            width: auto;
            .giveaway-card {
                background: linear-gradient(to right, rgba(255, 255, 255, 0.19), rgba(30, 30, 30, 0.19));
                border-radius: 5px;
                
                margin: 1rem auto;
                position: relative;

                @include mix.xs {
                    width: 90%;
                    height: auto;
                }
    
                @include mix.sm {
                    width: 468px;
                }
                @include mix.lg {
                    width: 498px;
                    height: 415px;
                }
                .gift-image-1 {
        
        
                    @include mix.xs {
                        top: -100px;
                        right: -30px;
                        width: 139px;
                        height: 142px;
                    }
                    @include mix.lg {
                        top: auto;
                        right: auto;
                        bottom: -80px;
                        left: -80px;
                        width: 189px;
                        height: 192px;
                    }
                    position: absolute;
                }
                .gift-image-2 {
                    @include mix.xs {
                        bottom: -80px;
                        left: -30px;
                        width: 139px;
                        height: 142px;
                    }
                    @include mix.lg {
                        bottom: auto;
                        left: auto;
                        top: -100px;
                        right: -50px;
                        width: 189px;
                        height: 192px;
                    }
                    position: absolute;
                    z-index: 5;
                }
                .giveaway-card-header {
                    h2 {
                        text-transform: uppercase;
                        padding: 2rem 0;
                        font-weight: bold;
                        line-height: 45px;
                    }
                }
                .giveaway-card-body {
                    font-size: 22px;
                    padding: 0 2rem;
                    padding-bottom: 2rem;
                    line-height: 40px;
                }
            }
        }
    }
}

 /*----------------------------------------------------------
    Giveaway End
------------------------------------------------------------*/ 

 /*----------------------------------------------------------
 3. Regulation Giveaway Start
 ------------------------------------------------------------*/ 
.regulation-giveaway {
    background-color: black;
    color: white;
    padding: 1px;
    padding: 4rem 0;
    .wrapper-regulation-giveaway {
        
        @include mix.xs {
           width: auto;
           margin: 0 3rem;
        }

        @include mix.lg {
            width: 940px;
            margin: 0 auto;
        }

        h2 {
            font-weight: bold;
            margin: 2rem 0;
        }
        ul {
            // background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../img/145.png');
            background-position: center;
            background-size: cover;
            padding-bottom: 8rem;
            li {
                font-size: 20px;
                list-style-type: disc;
                list-style-position: outside;
                margin-bottom: 1.8rem;
                line-height: 40px;
            }
        }
        .important-notes {
            @include mix.flex-tengah-vertical;
            text-align: center;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.19), rgba(102, 102, 102, 0.19), rgba(30, 30, 30, 0.19));
            border-radius: 5px;
            height: auto;
            position: relative;
            .gift-image {
                position: absolute;
                width: auto;
                height: 134px;
                top: -70px;
                left: 5rem;
            }
            h2 {
                padding-top: 2rem;
                font-size: 30px;
                font-weight: bold;
            }
            ul {
                background-image: none;
                padding-bottom: 0;
                @include mix.xs {
                    margin: 4rem 1rem;
                    margin-top: 0;
                }
                
                @include mix.sm {
                    margin: 4rem 4rem;
                    margin-top: 0;
                }

                li {
                    list-style-type: disc;
                    list-style-position: inside;
                    font-size: 20px;
                    margin-bottom: 1rem;
                }
            }
            .btn-subscribe {
                position: absolute;
                bottom: -40px;
    
            }
            
        }
    }
}
 /*----------------------------------------------------------
    Regulation Giveaway End
------------------------------------------------------------*/ 