/*----------------------------------------------------------
    File Name  : _homepage.scss
    Desc       : File ini merupakan styling untuk Homepage

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * //semua//
 *
 */

 @use '../abstracts/variables' as var;
 @use '../abstracts/mixins' as mix;
 
/*----------------------------------------------------------
1. Banner Homepage Start
------------------------------------------------------------*/ 

.banner-homepage {
    position: relative;
    overflow: hidden;

    .wrapper-banner-homepage {
        display: flex;
        min-height: 100vh !important;
        
        video {
            @include mix.video-banner-center;
        }
        
        .img-banner {
            @include mix.video-banner-center;
        }

        .logo-banner {
            @include mix.flex-tengah-vertical;
            z-index: 2;
            text-align: center;
            width: 100%;

            img {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                width: 150px;
            }

            .logo-text-banner {
                text-transform: uppercase;
                // letter-spacing: 3px;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                color: var.$text-white-satoshi;
                
                @include mix.md {
                    // letter-spacing: 8px;
                    font-size: 20px;
                }

                @include mix.xl {
                    font-size: 30px;
                }

                @include mix.xl2 {
                    padding: 0rem 3rem;
                    font-size: 40px;
                }

                
                // margin-top: 1.5rem;

                // .line-animation {
                //     @include mix.animation-reveal;
                // }
            }

            .logo-text-banner-teamwork {
                letter-spacing: 4px;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                font-weight: 700;
                text-align: center;
                color: var.$text-black-100-satoshi;
                margin-top: 1.5rem;

                // .line-animation {
                //     @include mix.animation-reveal;
                // }
            }
        }
    }
}

/*----------------------------------------------------------
1. Banner Homepage End
------------------------------------------------------------*/ 

/*----------------------------------------------------------
2. WHY Homepage End
------------------------------------------------------------*/ 

.why-homepage {
    position: relative;
    background-color: var.$bg-primary-satoshi;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .wrapper-why-homepage {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/why-banner.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex; /* Menggunakan flexbox */
        justify-content: center; /* Memusatkan secara horizontal */
        align-items: center; /* Memusatkan secara vertikal */
        text-align: center;
        

        .logo-banner {
            z-index: 2;
            color: white;
        }

        h2 {
            font-size: 35px;
            color: #BFA573;
            font-weight: bold;
            margin-bottom: 12px;
        }

        h4 {
            font-size: 25px;
        }
    }
}

/*----------------------------------------------------------
   WHY Homepage End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
3. Take Action Homepage
------------------------------------------------------------*/ 
.take-action-homepage {
    position: relative;
    overflow: hidden;

    .wrapper-take-action-homepage {
        display: flex;
        min-height: 100vh !important;
        
        video {
            @include mix.video-banner-center;
        }
        
        .img-take-action {
            @include mix.video-banner-center;
        }

        .logo-take-action {
            // @include mix.flex-tengah-vertical;
            z-index: 2;
            width: 100%;

            img {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                width: 150px;
            }

            .container {
                margin-left: 4rem;
                margin-top: 4rem;
                .logo-text-take-action {
                    text-transform: uppercase;
                    // letter-spacing: 3px;
                    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                    // font-size: 16px;
                    font-weight: 700;
                    text-align: start;
                    color: var.$text-white-satoshi;
                    span {
                        font-size: 30px;
                        line-height: 50px;
                    }
                    
                    // @include mix.md {
                    //     // letter-spacing: 8px;
                    //     font-size: 20px;
                    // }
    
                    // @include mix.xl {
                    //     font-size: 30px;
                    // }
    
                    // @include mix.xl2 {
                    //     // padding: 0rem 3rem;
                    //     font-size: 40px;
                    // }
    
                    &::after {
                        content: '';
                        display: block; /* Agar elemen ditampilkan sebagai blok */
                        width: 400px; /* Lebar garis horizontal 50% */
                        height: 3px; /* Ketebalan garis */
                        background-color: var.$text-primary-satoshi; /* Ganti dengan warna yang diinginkan */
                        margin: 10px 0; /* Jarak atas dan bawah */
                    }
                }
            }
        }
    }
}

/*----------------------------------------------------------
   Take Action Homepage End
------------------------------------------------------------*/ 

/*----------------------------------------------------------
4. Revolution Homepage
------------------------------------------------------------*/ 

.revolution-homepage {
    height: auto; // Full viewport height
    width: 100%; // Full width
    display: flex; // Use flexbox for layout
    align-items: center; // Center items vertically
    justify-content: center; // Center items horizontally
    background-color: black; // Set background color
    position: relative;

    .row {
        margin: 4rem auto;
        margin-bottom: 3rem;
        width: 100%; // Ensure the row takes full width

        .col-lg-5 {
                .revolution-text {
                    padding-left: 5rem;
                }
                h3 {
                    font-size: 30px;
                    color: var.$text-primary-satoshi;
                }
                p {
                    font-size: 20px;
                    line-height: 35px;
                }
        }

        .col-lg-7 {
            @include mix.flex-tengah;
            .img-revolution {
                position: absolute;
                z-index: 2;
                padding: 0 auto;

                @include mix.sm {
                    margin-top: 2rem;
                    position: static;
                    width: 70%;
                    z-index: 0;
                }

                @include mix.lg {
                    position: absolute;
                    width: auto;
                    z-index: 2;
                }
            }
        }
    }
}

/*----------------------------------------------------------
   Revolution Homepage End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
5. Activate Account Homepage
------------------------------------------------------------*/ 

.activate-account-homepage {
    // position: relative;
    width: 100%;
    height: 100vh;
    // overflow: hidden;

        .wrapper-activate-account-homepage {
            // position: absolute;
            // z-index: 1;
            width: 100%;
            height: 100%;
            background-image: url('../../img/82.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex; /* Menggunakan flexbox */
            justify-content: start; /* Memusatkan secara horizontal */
            align-items: center; /* Memusatkan secara vertikal */
            text-align: start;

            .logo {
                // z-index: 2;
                color: white;
                margin-left: 4rem;

                h2 {
                    font-size: 35px;
                    line-height: 52px;
                    color: var.$text-primary-satoshi;
                }
                p {
                    font-size: 25px;
                    line-height: 37px;
                }
            }
        }
    
}

/*----------------------------------------------------------
   Activate Account Homepage End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
6. Description  Homepage
------------------------------------------------------------*/ 

.description-homepage {
    background-color: black;
    height: auto;
    width: 100%;
    position: relative;

    .row {
        // z-index: 2;
        height: 100%;
        width: 100%;
        @include mix.sm {
            gap: 2rem;
        }

        @include mix.lg {
            gap: 0;
        }

        .card {
            z-index: 0;
            background-color: #BFA573;
            height: 423px;
            width: 380px;
            border-radius: 5px;
            margin: 0 auto;

            @include mix.sm {
                position: relative;
            }

            @include mix.lg {
                position: relative;
            }

            .card-body {
                text-align: center;
                @include mix.flex-tengah-vertical;
                justify-content: start;
                height: 100%; 
            }

            .header {
                background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 80%, rgba(255, 255, 255, 0.7) 100%);
                border-radius: 5px;
                padding: 10px 10px;
                width: 77px;
                width: 290px;
                text-align: center;
                font-size: 18px;
                line-height: 26px;
                font-weight: 700;
            }
        }
    }
}

/*----------------------------------------------------------
   Description Homepage End
------------------------------------------------------------*/ 

/*----------------------------------------------------------
7. Giveaway  Homepage
------------------------------------------------------------*/ 

.giveaway-homepage {
    width: 100%;
    // height: 100vh;
    background-image: url('../../img/bg-giveaway.png');
    background-color: black;
    padding-top: 20px;
    @include mix.flex-tengah;
    @include mix.sm {
        height: auto;
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }

    @include mix.lg {
        height: 100vh;
        background-size: cover;
    }
    
    .wrapper-giveaway-homepage {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 50px auto;
        align-items: center;

        h2 {
            color: var.$text-primary-satoshi;
            text-transform: uppercase;
            font-size: 35px;
            line-height: 52px;
            span {
                text-transform: uppercase;
                font-size: 35px;
                line-height: 52px;
                font-weight: normal;
            }
            // @include mix.lg {
            //     font-size: 30px;
            // }
        }

        span {
            text-transform: capitalize;
            font-size: 22px;
            line-height: 30px;
            font-weight: 700;
        }

        p {
            font-size: 20px;
            line-height: 40px;
            font-weight: 600;
            // @include mix.lg {
            //     line-height: 30px;
            // }
        }
    }
}

/*----------------------------------------------------------
   Giveaway  Homepage End
------------------------------------------------------------*/ 

/*----------------------------------------------------------
8. Benefits  Homepage
------------------------------------------------------------*/ 

.benefits-homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/84.png');
    height: 100vh;
    background-size: cover;
    @include mix.flex-tengah-vertical;

    @include mix.sm {
        height: auto;
    }

    @include mix.lg {
        height: 100vh;
    }

    h2 {
        font-size: 40px;
        font-weight: bold;
    }
    
    .benefits-card {
        margin: 0 auto;
        // height: auto;
        width: 280px;
        .benefits-card-header {
            @include mix.flex-tengah-vertical;
            height: 70px;
            text-align: center;
            color: var.$text-primary-satoshi;
            background-image: url('../../img/bg-card-benefit.png');
            font-size: 20px;
            border-radius: 5px;
            font-weight: 900;
            line-height: 28px;
        }

        .benefits-card-body {
            text-align: center;
            margin-top: 10px;
            font-size: 20px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 85%, rgba(255, 255, 255, 0.4) 100%);
            padding: 12px;
            height: 345px;

            .benefits-icon {
                display: block;
                height: 85px;
                width: 85px;
                margin: 1rem auto;
            }
        }
    }

    .row {
        display: flex;
        justify-content: center;
        @include mix.sm {
            gap: 2rem;
        }

        @include mix.lg {
            gap: 5rem;
        }
        // gap: 5rem;

        .col {
            &:nth-child(1), 
            &:nth-child(3) {
                transform: translateY(20px);
                @include mix.sm {
                    transform: none;
                }

                @include mix.lg {
                    transform: translateY(20px);
                }
            }
            &:nth-child(2) {
                transform: translateY(-20px);
                @include mix.sm {
                    transform: none;
                }

                @include mix.lg {
                    transform: translateY(-20px);
                }
            }
        }
    }
}

/*----------------------------------------------------------
   Benefits  Homepage end
------------------------------------------------------------*/ 