/*----------------------------------------------------------
    File Name  : _homepage.scss
    Desc       : File ini merupakan styling untuk Homepage

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * //semua//
 *
 */


 @use '../abstracts/variables' as var;
 @use '../abstracts/mixins' as mix;

 /*----------------------------------------------------------
 Binance Start
------------------------------------------------------------*/ 
.binance {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    height: 65vh;
    .container {
        @include mix.flex-tengah-vertical;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/bg-binance.png');
        background-size: cover;
        height: 100%;

        h5 {
            font-weight: bold;
            font-size: 35px;
        }
    }
    }
 /*----------------------------------------------------------
 Binance End
------------------------------------------------------------*/ 

 /*----------------------------------------------------------
 Divide Start
------------------------------------------------------------*/ 

.divide {
    color: white;
    background-color: black;
    padding: 1rem 0;
    h2 {
        color: rgba(32, 243, 17, 1);
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .container {
        .divide-text {
            text-align: start !important;
        }

        h3 {
            color: var.$text-primary-satoshi;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
    }
}
 /*----------------------------------------------------------
 Divide End
------------------------------------------------------------*/


.secret {
    height: 100vh;
    position: relative;

    .secret-content {
        padding: 2rem 2rem;
        height: 65%;
        background-color: rgba(191, 165, 115, 1);
        position: relative;
        z-index: 1;

        .secret-image {
            height: auto;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain; /* Membuat gambar menyesuaikan dengan container */
            display: block; /* Menghindari space ekstra di sekitar gambar */
            position: absolute;
            z-index: 2;
            transform: translateY(10%);
            transform: translateX(-10%);
            left: 0;
        }

        h2 {
            font-weight: bold;
            font-size: 25px;
        }

        .secret-text {
            margin-right: 5rem;
            p {
                font-size: 20px;
            }
        }
    }

    .the-signal {
        height: 35%;
        background-color: black;
        color: white;
        z-index: 0;
        text-align: center;
        padding: 2rem 0;

        h1 {
            font-size: 40px;
            font-weight: bold;
            color: var.$text-primary-satoshi;
            margin: 2rem;
        }
        p {
            font-size: 20px;
        }

        .the-signal-image {
            height: 307px;
            object-fit: contain; /* Membuat gambar menyesuaikan dengan container */
            display: block; /* Menghindari space ekstra di sekitar gambar */
            position: absolute;
            z-index: 2;
            transform: translateY(20%);
            right: 0;
            bottom: 0;
        }
    }


}