/*----------------------------------------------------------
    File Name  : _homepage.scss
    Desc       : File ini merupakan styling untuk Homepage

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * //semua//
 *
 */


 @use '../abstracts/variables' as var;
 @use '../abstracts/mixins' as mix;

 /*----------------------------------------------------------
 Binance Start
------------------------------------------------------------*/ 
.binance {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    height: 65vh;
    .container {
        @include mix.flex-tengah-vertical;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/bg-binance.png');
        background-size: cover;
        height: 100%;

        h5 {
            font-weight: bold;
            font-size: 35px;
        }
    }
    }
 /*----------------------------------------------------------
 Binance End
------------------------------------------------------------*/ 

 /*----------------------------------------------------------
 Divide Start
------------------------------------------------------------*/ 

.divide {
    color: white;
    background-color: black;
    padding: 1rem 0;
    h2 {
        color: rgba(32, 243, 17, 1);
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .container {
        .divide-text {
            text-align: start !important;
        }

        h3 {
            color: var.$text-primary-satoshi;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
    }
}
 /*----------------------------------------------------------
 Divide End
------------------------------------------------------------*/


 /*----------------------------------------------------------
    Secret start
------------------------------------------------------------*/
.secret {
    height: 100vh;
    position: relative;

    .secret-content {
        padding: 2rem 2rem;
        height: 65%;
        background-color: rgba(191, 165, 115, 1);
        position: relative;
        z-index: 1;

        .secret-image {
            height: auto;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain; /* Membuat gambar menyesuaikan dengan container */
            display: block; /* Menghindari space ekstra di sekitar gambar */
            position: absolute;
            z-index: 2;
            transform: translateY(10%);
            transform: translateX(-10%);
            left: 0;
        }

        h2 {
            font-weight: bold;
            font-size: 25px;
        }

        .secret-text {
            margin-right: 5rem;
            p {
                font-size: 20px;
            }
        }
    }

    .the-signal {
        height: 35%;
        background-color: black;
        color: white;
        z-index: 0;
        text-align: center;
        padding: 2rem 0;

        h1 {
            font-size: 40px;
            font-weight: bold;
            color: var.$text-primary-satoshi;
            margin: 2rem;
        }
        p {
            font-size: 20px;
        }

        .the-signal-image {
            height: 307px;
            object-fit: contain; /* Membuat gambar menyesuaikan dengan container */
            display: block; /* Menghindari space ekstra di sekitar gambar */
            position: absolute;
            z-index: 2;
            transform: translateY(35%);
            right: 0;
            bottom: 0;
        }
    }
}
 /*----------------------------------------------------------
    Secret End
------------------------------------------------------------*/

 /*----------------------------------------------------------
    Secret Formula start
------------------------------------------------------------*/
.secret-formula {
    background-color: black;
    text-align: center;
    .container {
        .secret-formula-image {
            width: 540px;
        }
        .col {
            text-align: justify;
            margin-top: 3rem;
        }
        h4 {
            font-size: 25px;
            color: var.$text-primary-satoshi;
        }
        span {
            font-size: 20px;
            color: white;
            font-weight: bold;
            margin-top: 1rem;
        }
        p {
            font-size: 18px;
            color: white;
            margin-top: 1.5rem;
        }
    }
    .key-points {
        @include mix.flex-tengah-vertical;
        .card {
            width: 754px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.41), rgba(255, 255, 255, 0.369));
            .card-header {
                @include mix.flex-tengah;
                height: 89px;
                background-color: rgba(189, 160, 105, 1);
                color: black;
                text-transform: uppercase;
                font-size: 30px;
                font-weight: bold;
            }
            .card-body {
                color: white;
                margin: 0 5rem;
                height: 463px;
                ul {
                    li {
                        font-size: 25px;
                        list-style-type: disc;
                        list-style-position: outside;
                        text-align: justify;
                    }
                }
            }
        }

        p {
            font-size: 25px;
            color: white;
            margin: 1rem;
        }
    }
}
 /*----------------------------------------------------------
    Secret Formula End
------------------------------------------------------------*/

 /*----------------------------------------------------------
    Buy Signals start
------------------------------------------------------------*/
.buy-signals {
    @include mix.flex-tengah;
    height: 607px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/bg-buy-signals.jpeg');
    background-size: cover;
    text-align: center;
    .wrapper-buy-signals {
        .card-buy-desc {
            height: 148px;
            width: 363px;
            text-align: center;
            text-transform: uppercase;
            margin-left: auto;
            .card-buy-desc-header {
                color: white;
                font-weight: bold;
                font-size: 30px;
                background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(196, 164, 111, 1));
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .card-buy-desc-text {
                margin-top: 0.5rem;
                text-transform: uppercase;
                background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(196, 164, 111, 1));
                font-size: 20px;
                padding: 1rem 2rem;
                border-bottom-left-radius: 5px; 
                border-bottom-right-radius: 5px;
                font-weight: bold;
            }
        }
    
        .card-buy {
            height: auto;
            width: 280px;
            text-align: center;
            margin: auto;
            margin-bottom: 1rem;
            .card-buy-header {
                font-weight: bold;
                font-size: 30px;
                background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(189, 160, 105, 1));
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .card-buy-text {
                height: 120px;
                background-color: white;
                font-size: 18px;
                padding: 1rem;
                border-bottom-left-radius: 5px; 
                border-bottom-right-radius: 5px;
            }
        }
    }
}

 /*----------------------------------------------------------
    Buy Signals End
------------------------------------------------------------*/


 /*----------------------------------------------------------
    Buy Signals start
------------------------------------------------------------*/
.sell-signals {
    @include mix.flex-tengah;
    height: 607px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../img/bg-sell-signals.jpeg');
    background-size: cover;
    text-align: center;
    .wrapper-sell-signals {
        .card-sell-desc {
            height: 148px;
            width: 363px;
            text-align: center;
            text-transform: uppercase;
            margin-left: auto;
            .card-sell-desc-header {
                color: white;
                font-weight: bold;
                font-size: 30px;
                background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(196, 164, 111, 1));
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .card-sell-desc-text {
                margin-top: 0.5rem;
                text-transform: uppercase;
                background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(196, 164, 111, 1));
                font-size: 20px;
                padding: 1rem 2rem;
                border-bottom-left-radius: 5px; 
                border-bottom-right-radius: 5px;
                font-weight: bold;
            }
        }
    
        .card-sell {
            height: auto;
            width: 280px;
            text-align: center;
            margin: auto;
            margin-bottom: 1rem;
            .card-sell-header {
                font-weight: bold;
                font-size: 30px;
                background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(189, 160, 105, 1));
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .card-sell-text {
                height: 120px;
                background-color: white;
                font-size: 18px;
                padding: 1rem;
                border-bottom-left-radius: 5px; 
                border-bottom-right-radius: 5px;
            }
        }
    }
}

.signals-attention {
    @include mix.flex-tengah-vertical;
    color: white;
    background-color: black;
    height: auto;
    text-align: center;
    span {
        font-size: 20px;
        width: 800px;
        margin: 2rem 0;
    }
}
 /*----------------------------------------------------------
    Buy Signals End
------------------------------------------------------------*/

.multiple-sell {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../img/bg-multiple-sell.jpeg');
    background-size: cover;
    @include mix.flex-tengah-vertical;
    .multiple-sell-header {
        margin-top: 4rem;
        margin-bottom: 2rem;
        @include mix.flex-tengah;
        text-align: center;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(189, 160, 105, 1));
        width: 678px;
        height: 155px;
        color: red;
        border-radius: 10px;
        h2 {
            font-weight: bold;
            font-size: 35px;
        }
    }

    .multiple-sell-content {
        margin-bottom: 4rem;
        text-align: center;
        background-color: rgba(56, 55, 52, 0.80);
        width: 678px;
        height: auto;
        border-radius: 5px;
        border: 4px solid rgba(189, 160, 105, 1);
        color: white;

        ul {
            margin: 3rem 4rem;
            li {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 20px;
                list-style-type: disc;
                list-style-position: inside;
                margin-bottom: 2rem;
   
            }
            .card-sell {
                margin: 3rem auto;
            }
        }
    }
}